# Generic
.DS_Store
private

host-*

# vim/nvim related
config/nvim/.netrwhist
config/nvim/plugged
config/vim/swap
vim/.netrwhist
vim/autoload/plug.vim.old
vim/plugged
vim/swap
*.swp

# emacs related
*.elc
emacs.d/site-lisp
emacs.d/.local
emacs.d/elpa
emacs.d/old
emacs.d/custom.el
emacs.d/transient
emacs.d/straight
