# Generic
.DS_Store
private

host-*
result

# vim/nvim related
config/nvim/.netrwhist
config/nvim/plugged
config/vim/swap
vim/.netrwhist
vim/autoload/plug.vim.old
vim/plugged
vim/swap
vim/view
*.swp

# emacs related
*.elc
emacs.d/.local
emacs.d/custom.el
emacs.d/elpaca
emacs.d/var
emacs.d/etc
emacs.d/eln-cache
