# Generic
.DS_Store
private

host-*
result

# personal tweaks
config/belak/repos

# vim/nvim related
config/nvim/.netrwhist
config/nvim/plugged
config/nvim/swap
config/nvim/undo
config/nvim/view
config/nvim/lazy-lock.json
vim/.netrwhist
vim/autoload/plug.vim.old
vim/plugged
vim/swap
vim/view
*.swp

# git related
config/git/config.*

# emacs related
*.elc
config/emacs/custom.el
config/emacs/eln-cache
config/emacs/elpaca
config/emacs/etc
config/emacs/var

# fish related
config/fish/completions
config/fish/fish_variables
config/fish/functions
config/fish/themes

.direnv
