* {
    font-family: Symbols Nerd Font Mono, Terminus, monospace;
    font-size: 12pt;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    border-bottom: 3px solid #000000;

    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.0);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #64727D;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    border-bottom: 3px solid #eb4d4b;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging:not(.full) {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #f1c40f;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio.muted {
    color: #f1c40f;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
